h2{
text-align: center;
}
	
#header-nav{
background-color:#e9ddfd;
border:1px solid #000;
padding:.3rem;
margin:0;
	}
	
	
#section-chicken{
background-color:#E08955;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
}

#section-beef{
background-color:#914955;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
}

#section-sushi{
background-color:#0D877A;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
}
