h2{
text-align: center;
color:#B30000
text-transform:uppercase;
}
	
#header-nav{
color:#B30000;
background-color:#FFDB15;
border:3px solid #B30000;
padding:.3rem;
margin:0;
	}
	
#h3{
text-align:center;
color:#ffff;
}

#section-chicken{
color:#fff;
background-color:#E08955;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
font-size:1.5rem;
}

#section-beef{
color:#ffff;
background-color:#914955;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
font-size:1.5rem;
}

#section-sushi{
color:#ffff;
background-color:#0D877A;
border:5px solid #000;
margin:1rem;
padding:0.5rem;
font-size:1.5rem;
}
