h2{
		text-align: center;
	}
	
	#header-nav{
		background-color:;
		border:1px solid #000;
		padding:.5rem;
		margin:0;
	}
	
	.navbar-toggle{
		display:none;
	}

.row{
 width:100%;
   display:flex;
   flex-wrap: no-wrap;
   float:left;
   justify-content:center;
   margin:0 auto !important;
}

#chicken-sec, #beef-sec, #sushi-sec{
max-width:33.33%;
}
	
	#chicken-sec{
		text-align:center;
		background-color:yellow;
		padding:.5rem;
	}
	
	#beef-sec{
		text-align: center;
		background-color:rosybrown;
		padding:.5rem;	
	}
	
	#sushi-sec{
		text-align:center;
		background-color:greenyellow;
		padding:.5rem;
	}
	
	.row{
		margin:1rem;
	}
